@import "tailwindcss";

:root {
  --foreground: #101010;
  --background: #f7f7f7;
  --theme-white: #efefef;
  --theme-bg-white: #f7f7f7;
  --theme-black: #101010;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sofia-sans);
  --font-mono: var(--font-spline-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), sans-serif;
}

::selection {
  color: var(--foreground);
  background: var(--background);
}

header ::selection {
  background: var(--foreground);
  color: var(--background);
}

.image-hero span {
  font-family: fantasy !important;
}

.item {
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
.item::after {
  content: "";
  display: block;
  height: 120%;
  width: 0;
  background-color: #fff;
  position: absolute;
  transform: translateY(-3px);
  inset: 0;
  z-index: -1;
  transform-origin: left;
  transition: all 200ms linear;
}
.item:hover::after {
  width: 100%;
}
